# RustFS (MinIO-compatible; same ports as MinIO).
{{ MINIO_HOST }}{$default_site_port} {
    import proxy "rustfs:9000"
}
{{ MINIO_CONSOLE_HOST }}{$default_site_port} {
    import proxy "rustfs:9001"
}
